/*

    #####################
    ### MISC. CLASSES ###
    #####################

*/

.center-content-vertically {
  margin-top: auto;
  margin-bottom: auto;
}

.center-content-horizontally {
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
}

/*

    #######################
    ### BODY PROPERTIES ###
    #######################

*/

body {
  margin: 0px;
  padding: 0px;
}

body::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
body {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/*

    ######################
    ### NAVIGATION BAR ###
    ######################

*/

#page-logo {
  position: absolute;
  z-index: 110;
  height: 48px;

  padding: 8px;
}

#navigation-bar {
  clear: both;

  background-color: #ffffff;
  /* border-bottom: 4px solid #5face3; */

  width: 100vw;
  height: 64px;

  z-index: 100;
  position: fixed;

  box-shadow: 0 0 32px #0008;
}

#navigation-bar .page {
  cursor: pointer;

  float: left;
  text-align: center;
  padding: 16px 16px 16px 16px;

  text-decoration: none;

  color: #5face3;

  font-family: "Raleway";
  font-size: 24px;
  font-weight: 200;

  line-height: 32px;
}

#navigation-bar-pages {
  width: 100vw;
  height: 56px;
  background-color: black;
}

#navigation-bar .page:hover {
  background-color: #5face3;
  color: #ffffff;
}

/*

    ##############
    ### PAGE 1 ###
    ##############

*/

#page1 {
  clear: both;

  /* FALLBACK */
  background-color: #ffffff;

  /* APPEARANCE */
  background-image: url("https://cdn.glitch.com/1be904cd-cddd-4eb1-bfda-73d1f6f71369%2Fwallpaperflare.com_wallpaper.jpg?v=1603041707420");
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;

  /* SIZE AND POSITION */
  height: calc(100vh - 64px);

  padding: 64px 0px 0px 0px;
}

#cards {
  
}

.card {
  width: 384px;
  height: 512px;
  
  border-radius: 32px;
  
  background-color: #fff;
  
  box-shadow: 0 0 32px #0002;
}

.card h1, h2, p {
  font-family: "Raleway";
}
